* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* common */
html {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.heading-top {
  height: 100px;
}
/* main */
.header {
  height: 550px;
  background-image: url("../assets/img/header_backgroun\(4\).png");
}

.header .logo {
  float: left;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .nav {
  float: left;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .nav > ul > li {
  display: inline-block;
}

.nav li > a {
  color: #fff;
  padding: 15px 30px;
}

.nav > ul > li:hover > a {
  color: #cd9b33;
  text-decoration: none;
  border-bottom: 1px solid #cd9b33;
  transition: all 1s;
}

.nav .sub-menu {
  display: none;
  margin-top: 12px;
  position: absolute;
}

.nav li:hover .sub-menu {
  display: block;
}

.sub-menu li a {
  background-color: #cd9b33;
  padding: 15px 50px;
  display: block;
}

.sub-menu li:hover > a {
  color: #fff;
  text-decoration: none;
  background-color: #8b8b8b;
  border-bottom: 1px solid #8b8b8b;
  transition: all 1s;
}

.header .cart {
  float: left;
  width: 20%;
}
