* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* common */

html {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.h-100 {
    height: 60px;
}

.fixed-nav {
    position: fixed;
}

.ptb-150 {
    padding-top: 150px;
    padding-bottom: 150px;
}


/* main */

.header {
    position: relative;
    width: 100%;
    height: 600px;
    background-image: url("../assets/img/home_page/header/header2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.header .fixed-box {
    height: 200px;  
    width: 100%;
    display: flex;
    justify-content: space-around;
    transition: all .5s ease-in-out;
}

.fixed-box.sticky {
    opacity: 0.9;
    background-color: #ffdab9;
}

.header .logo {
    float: left;
    text-align: center;
    width: 20%;
    display: flex;
    justify-content: center;
}

.logo img {
    width: 200px;
}

.header .nav {
    width: 60%;
    float: left;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffcad4;
    border-radius: 10px;
    margin-top: 60px;
    box-shadow: 0 5px 5px #000;
}

.header .nav>ul>li {
    display: inline-block;
}

.nav li>a {
    color: #370617;
    padding: 15px 25px;
    font-weight: 700;
    font-size: 18px;
}

.nav>ul>li:hover>a {
    color: #ff0054;
    text-decoration: none;
    border-bottom: 1px solid #ff0054;
    transition: all 1s;
}

.nav .sub-menu {
    display: none;
    margin-top: 15px;
    position: absolute;
}

.nav li:hover .sub-menu {
    display: block;
    transform: translateX(-30px);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}

.sub-menu li a {
    background-color: #f3d0d6;
    padding: 15px 50px;
    display: block;
}

.sub-menu li:hover>a {
    color: #ff0054;
    text-decoration: none;
    border-bottom: 1px solid #ff0054;
    transition: all 1s;
}

.header .cart {
    text-align: center;
    float: right;
    width: 20%;
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-top: 75px;
}

.cart a {
    color: #000;
    transition: all 1s;
}

.cart i {
    font-weight: 800;
}

.cart:hover a {
    color: #fdafbd;
    transition: all 1s;
}


/* end header */

.main-body {
    background-color: rgba(255, 175, 204, 0.468);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-body .fst-content {
    width: 80%;
}

.fst-content .slogan {
    width: 50%;
    float: left;
    color: #383838;
    text-align: left;
    padding: 0 30px;
}

.slogan .desc {
    padding-top: 25px;
    color: #747474;
    text-align: justify;
}

.fst-content .img-right {
    width: 50%;
    float: left;
    padding: 0 30px;
    text-align: center;
}

.img-right img {
    object-fit: cover;
    width: 90%;
    height: 300px;
    border-radius: 20px;
}

.main-body .intro-menu {
    width: 100%;
    background-color: #92b1f5;
    text-align: center;
}

.intro-menu .lst ul {
    padding: 0 6px;
    display: flex;
    justify-content: space-around;
}

.lst img {
    object-fit: cover;
    width: 260px;
    height: 360px;
    transition: all 0.75s;
    border-radius: 10px;
}


.main-body .frm-contact {}

.main-body .lst-content {}

.main-body .sell-off {}